{
  "valid": {
    "start": "2015-06-01",
    "end": "2015-12-31"
  },
  "working": [
    {
      "dayOfWeek": "Mon",
      "from": "10:00",
      "till": "12:00"
    },
    {
      "dayOfWeek": "Tue",
      "from": "10:00",
      "till": "12:00"
    },
    {
      "dayOfWeek": "Wed",
      "from": "10:00",
      "till": "12:00"
    },
    {
      "dayOfWeek": "Thu",
      "from": "10:00",
      "till": "12:00"
    },
    {
      "dayOfWeek": "Fri",
      "from": "10:00",
      "till": "12:00"
    }
  ]
}
